html {
  background-color: hsl(30, 38%, 92%);
}
body {
  font-size: 100%;
}
#card {
  background-color: white;
  border-radius: 10px;
  display: block;
  width: 375px;
  margin: 0 auto;
}
.image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
#text {
margin-left: 34px;
}
.upper {
  text-transform: uppercase;
}
h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size:14px;
  letter-spacing: 4px;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}
.name {
  font-family: Fraunces, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  margin-bottom: .75rem;
}
.description {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 2;
  margin-bottom: -1rem;
}
.sale {
  color: hsl(158, 36%, 37%);
  font-family: Fraunces, sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 1rem;
}
.slash {
  color: hsl(0, 0%, 0%);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-decoration-line: line-through;
  position: relative;
  bottom: 6px;
  left: 12px;
}
.button {
  box-sizing: border-box;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  background:hsl(158, 36%, 37%);
  border: none;
  border-radius: 7px;
  height: 47px;
  display: block;
  margin: 0 auto;
  width: 82%;
}
.icon {
  width: 16px;
  height: 16px;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
  right: 11px;
  top: 3px;
}
footer {
  padding: .5rem 1rem 1rem 1rem;
}
a {
  color: hsl(158, 36%, 37%);
}
